<form (ngSubmit)="onSubmit()" #form="ngForm" class="form">
  <label for="full-name">Full Name: </label>
  <input
    name="name"
    [(ngModel)]="name"
    value="{{ name }}"
    id="full-name"
    type="text"
    minlength="3"
    required
  />

  <label for="address">Address: </label>
  <input
    name="address"
    [(ngModel)]="address"
    value="{{ address }}"
    id="address"
    type="text"
    minlength="5"
    required
  />

  <label for="card">Card Number: </label>
  <input
    name="card"
    [(ngModel)]="creditCard"
    value="{{ creditCard }}"
    id="card"
    type="text"
    minlength="12"
    maxlength="16"
    required
    pattern="(\d{4}(\s)?){4}"
  />

  <button type="submit" [disabled]="form.invalid">Submit</button>
</form>
<div class="form" *ngIf="name && address && creditCard && form.invalid">
  Please check your details, invalid input
</div>
